<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/floating-labels.css}"/>
</head>
<body>
    <form class="form-signin" th:action="@{/login}" th:object="${user}" method="POST">
        <div class="text-center mb-4">
            <img class="mb-4" th:src="@{/img/logo.png}" width="180" height="120"/>
            <h1 class="h3 mb-3 font-weight-normal">Inicio de Sesión</h1>
        </div>

        <br/>

        <div class="form-group">
            <label for="inputEmail">Correo</label>
            <input type="email" id="inputEmail" class="form-control" th:field="*{email}" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword">Contraseña</label>
            <input type="password" id="inputPassword" class="form-control" th:field="*{password}" required>
        </div>

        <button class="btn btn-primary btn-block" type="submit">Iniciar Sesión</button>

        <p th:text="${errorMessage}" class="mt-5 mb-3 text-muted text-center"></p>
    </form>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
