<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Registro de Ventas</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/form-validation.css}"/>
</head>
<body>
    <div class="container">
        <h2 style="text-align: center">Registro de Ventas</h2>

        <form class="form-horizontal" th:action="@{/sales}" th:object="${sale}" method="POST">

            <div class="page-header">
                <h3>Ingrese la información de la venta</h3>
            </div>

            <div class="form-group">
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{pnr}" placeholder="PNR: 6 digitos" required/>
                </div>
                <div class="col-sm-4">
                    <select class="form-control" th:field="*{gds}">
                        <option value="Amadeus">Amadeus</option>
                        <option value="Kiu">Kiu</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <select class="form-control" th:field="*{engine}">
                        <option value="Costamar.com PE">Costamar.com PE</option>
                        <option value="Kayak PE">Kayak PE</option>
                        <option value="PasajesBaratos Peru">PasajesBaratos Perú</option>
                        <option value="Turismocity.pe">Turismocity.pe</option>
                        <option value="Viajala Peru">Viajala Perú</option>
                        <option value="VueloBonitoBarato">VueloBonitoBarato</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4">
                    <select class="form-control" th:field="*{status}">
                        <option value="Booking">Booking</option>
                        <option value="Pending Payment">Pending Payment</option>
                        <option value="Canceled Booking">Canceled Booking</option>
                        <option value="Canceled Payment">Canceled Payment</option>
                        <option value="Denied Payment">Denied Payment</option>
                        <option value="Ticketing">Ticketing</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <select class="form-control" th:field="*{paymentType}">
                        <option value="VISA">Visa</option>
                        <option value="MASTERCARD">MasterCard</option>
                        <option value="DINERS CLUB">Diners Club</option>
                        <option value="AMERICAN EXPRESS">American Express</option>
                        <option value="PAGO EFECTIVO">Pago Efectivo</option>
                        <option value="SAFETYPAY ONLINE">Safety Pay Online</option>
                        <option value="SAFETYPAY CASH">Safety Pay Cash</option>
                        <option value="PAYPAL">Paypal</option>
                        <option value="PAYPAL CREDIT CARD">Paypal Credit Card</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{amount}" placeholder="Monto" required/>
                </div>
            </div>

            <div class="page-header">
                <h3>Ingrese la información de la reserva</h3>
            </div>

            <div class="form-group">
                <div class="col-sm-4">
                    <div class="input-group date" id='datetimepicker1'>
                        <input type="text" class="form-control datetime" th:field="*{bookingDate}"
                               data-date-format="DD/MM/YYYY HH:mm" placeholder="Fecha de reserva" readonly="readonly" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group date" id='datetimepicker2'>
                        <input type="text" class="form-control datetime" th:field="*{departureDate}"
                               data-date-format="DD/MM/YYYY HH:mm" placeholder="Fecha de ida" readonly="readonly" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group date" id='datetimepicker3'>
                        <input type="text" class="form-control datetime" th:field="*{arrivalDate}"
                               data-date-format="DD/MM/YYYY HH:mm" placeholder="Fecha de vuelta" readonly="readonly" />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{origin}" placeholder="Origen" required/>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{destination}" placeholder="Destino" required/>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{itinerary}" placeholder="Itinerario" required/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{validatingAirlines}"
                           placeholder="Aerolineas Validadoras Ej: P9-P9" required/>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{contactPerson}"
                           placeholder="Persona de Contacto" required/>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" th:field="*{passengersCount}"
                           placeholder="Total de pasajeros" required/>
                </div>
            </div>

            <br/>

            <div class="form-group">
                <div class="col-sm-4" style="margin-bottom: 10px;">
                    <button class="btn btn-md btn-primary btn-block btn-search" type="submit">Enviar</button>
                </div>
            </div>

            <div th:if="${clusterMessage != null}" class="alert alert-info">
                <strong th:text="${clusterMessage}"></strong>
            </div>
        </form>
    </div>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/moment.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/datetimepicker.min.js}"></script>
    <script th:src="@{/js/sales.js}"></script>
</body>
</html>
